//
//    Project stylus root file
//

// Core variables and mixins
@import "variables";
@import "mixins";

 // Core CSS
@import "core/icons";
@import "core/scaffolding";
@import "core/type";
@import "core/buttons";
@import "core/forms";

// Components
@import "modules/component-animations";
// @import "modules/breadcrumbs";
// @import "modules/pagination";

// Components w/ JavaScript
@import "modules/flickity";
@import "modules/tabs";
@import "modules/modals";
@import "modules/select2";
@import "modules/calendar-carousel";
// @import "modules/datepicker";
// @import "modules/dragdrop";
@import "modules/search-form";
@import "modules/popovers";
@import "modules/authorize-overlay";

// Layouts
@import "modules/layouts";

// Blocks
@import "modules/blocks";
@import "modules/banners";

// Utility classes
// @import "modules/responsive-utilities";
@import "modules/utilities";
