$brand-primary: #1e6edc;
$brand-secondary: #ffba00;
$brand-success: #3c763d;
$brand-info: #31708f;
$brand-warning: #E5BD1D;
$brand-danger: #e61100;
$darkgrey_c: #4f4f4f;
$blue_c: #1e6edc;
$grey_c: #c3c3c3;
$red_c: #cc0000;