# bitrix core
/bitrix/.access.php
/bitrix/activities/
/bitrix/activity_limit.php
/bitrix/admin/
/bitrix/click.php
/bitrix/components/bitrix/
/bitrix/coupon_activation.php
/bitrix/fonts/
/bitrix/footer.php
/bitrix/gadgets/
/bitrix/header.php
/bitrix/image_uploader/
/bitrix/images/
/bitrix/index.php
/bitrix/js/
/bitrix/otp/
/bitrix/p3p.xml
/bitrix/panel/
/bitrix/public/
/bitrix/redirect.php
/bitrix/rk.php
/bitrix/rss.php
/bitrix/services/
/bitrix/sounds/
/bitrix/spread.php
/bitrix/syslog
/bitrix/template/
/bitrix/themes/
/bitrix/tmp/
/bitrix/tools/
/bitrix/urlrewrite.php
/bitrix/virtual_file_system.php
/bitrix/wizards/bitrix/
/bitrix/modules/*.log
/bitrix/modules/advertising
/bitrix/modules/bitrix.sitecommunity
/bitrix/modules/bitrix.sitecorporate
/bitrix/modules/bitrix.siteinfoportal
/bitrix/modules/bitrix.sitepersonal
/bitrix/modules/bitrix.sitestore
/bitrix/modules/bitrixcloud
/bitrix/modules/bizproc
/bitrix/modules/bizprocdesigner
/bitrix/modules/blog
/bitrix/modules/calendar
/bitrix/modules/catalog
/bitrix/modules/clouds
/bitrix/modules/cluster
/bitrix/modules/compression
/bitrix/modules/currency
/bitrix/modules/eshopapp
/bitrix/modules/fileman
/bitrix/modules/form
/bitrix/modules/forum
/bitrix/modules/highloadblock
/bitrix/modules/iblock
/bitrix/modules/idea
/bitrix/modules/im
/bitrix/modules/learning
/bitrix/modules/lists
/bitrix/modules/mail
/bitrix/modules/main
/bitrix/modules/mobileapp
/bitrix/modules/perfmon
/bitrix/modules/photogallery
/bitrix/modules/pull
/bitrix/modules/report
/bitrix/modules/sale
/bitrix/modules/scale
/bitrix/modules/search
/bitrix/modules/security
/bitrix/modules/seo
/bitrix/modules/socialnetwork
/bitrix/modules/socialservices
/bitrix/modules/statistic
/bitrix/modules/subscribe
/bitrix/modules/support
/bitrix/modules/translate
/bitrix/modules/vote
/bitrix/modules/webservice
/bitrix/modules/wiki
/bitrix/modules/workflow
/bitrix/updates/
/bitrix/.settings.php.201504070938
/test/

# import & export
/bitrix/catalog_export/
/*.xml

# cache
/bitrix/cache/
/bitrix/managed_cache/
/bitrix/stack_cache/
/bitrix/html_pages/

# host specific
/cgi-bin/
/bitrix/license_key.php
/bitrix/php_interface/dbconn.php
/bitrix/.settings.php
/bitrix/.settings_extra.php
/robots.txt
/.htaccess
/.ftpquota
web.config

# upload, logs, backups, temp & test
/_dev/
/upload/
/bitrix/backup/
/test.php
/*.html
*.log
*.tmp
*.txt
*.tar.gz
/local/*.xml
__*
syslog

#ignore phpstorm ide settings
/.idea/

#ignore libs installed by Composer
#/vendor/

/local/config/config.php