# bitrix core
/bitrix/
/test/

# import & export
/*.xml

# cache

# host specific
/cgi-bin/

/robots.txt
/.htaccess
/.ftpquota
web.config

# upload, logs, backups, temp & test
/_dev/
/upload/
/test.php
/*.html
*.log
*.tmp
*.txt
*.tar.gz
/local/*.xml
__*
syslog

#ignore phpstorm ide settings
/.idea/

#ignore libs installed by Composer
#/vendor/

/local/config/config.php