.g-text-center{
	text-align: center;
}
.g-text-left{
	text-align: left;
}
.g-text-right{
	text-align: right;
}
.g-vertical-line{
	color: $darkgrey_c;
	display: inline-block;
	margin: 0 10px;
}