.broadcast-card .block-body .image-col
{
    overflow: hidden;
}
.broadcast-results .categories-items
{
    bottom: 0px;
}
/*
.user-subscription-channels .channels-list .item.status-active .subscription-logo .icon,
.subscription-services .available-subscriptions .item.status-active .subscription-logo .icon 
{
    width: auto;
    height: auto;
}
*/    