.broadcast-card .block-body .image-col
{
    overflow: hidden;
}
.icon-matchtv-channel, [data-icon="icon-matchtv-channel"]{
    width: 169px;
    height: 38px;
}
/*.broadcast-results .categories-items
{
    bottom: 0px;
}

.user-subscription-channels .channels-list .item.status-active .subscription-logo .icon,
.subscription-services .available-subscriptions .item.status-active .subscription-logo .icon 
{
    width: auto;
    height: auto;
}
    
.broadcast-results .categories-items .category-row .item .badge {
    position: absolute;
    top: 14px;
    right: 15px;
    z-index: 2;
    display: inline-block;
    height: 14px;
    padding: 0 4px;
    font-size: .9rem;
    line-height: 1.4rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #1e6edc;
    -webkit-font-smoothing: subpixel-antialiased;
}
.channel-card .channel-info .channel-broadcast-shots img
{
    border: 2px solid #fff;
}
*/
.modal-backdrop
{
    z-index: 980 !important;
}
.modal
{
    position: fixed !important;
    z-index: 1080 !important;
}
.player-modal .modal-content
{
    width: auto;
}
.player:-webkit-full-screen {
width: 100%;
height: 100%;
}
.player:-moz-full-screen {
width: 100%;
height: 100%;
}